.description-info 
    .info-item#delivery_container.gray_bg
        a.readmore(href="#").flex-between.items-center
            span Умови доставки
            span.svg_btn 
                <svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" viewBox="0 0 50 50" fill="none">
                    <circle cx="25" cy="25" r="25" fill="#33C364"/>
                    <path d="M26.7764 24.2783H31V26.7227H26.7764V31H24.2236V26.7227H20V24.2783H24.2236V20H26.7764V24.2783Z" fill="#1E1E1E"/>
                </svg>
        .description-more#delivery
            div
                p.head_info Відправка замовлень протягом 1-3 днів після оплати або передплати
                ul.mark
                    li Самовивіз з речового ринку у м. Хмельницький
                    li Нова Пошта
                    li Укрпошта
                    li Делівер
    .info-item#spivpracia_container.gray_bg
        a.readmore.flex-between.items-center(href="#") 
            span Умови оплати
            span.svg_btn 
                <svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" viewBox="0 0 50 50" fill="none">
                    <circle cx="25" cy="25" r="25" fill="#33C364"/>
                    <path d="M26.7764 24.2783H31V26.7227H26.7764V31H24.2236V26.7227H20V24.2783H24.2236V20H26.7764V24.2783Z" fill="#1E1E1E"/>
                </svg>
        .description-more#spivpracia
                ul.mark
                    li Готівкою в магазині, який знаходиться на речовому ринку в м Хмельницький
                    li Переказсна рахунок Фопа
                    li Післяплата при отриманні на новій пошті ( при умові мінімальної передплати 300 гр на рахунок Фопа)
                    li Доставка укр поштою здійснюється тільки при повній оплаті на рахунок Фопа.
                    li Мінімальна сума замовлення 1000 грн
    .info-item#obmin_container.gray_bg
        a.readmore.flex-between.items-center(href="#") 
            span Повернення та обмін
            span.svg_btn
                <svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" viewBox="0 0 50 50" fill="none">
                    <circle cx="25" cy="25" r="25" fill="#33C364"/>
                    <path d="M26.7764 24.2783H31V26.7227H26.7764V31H24.2236V26.7227H20V24.2783H24.2236V20H26.7764V24.2783Z" fill="#1E1E1E"/>
                </svg>
        .description-more#obmin
            p Повернення товару впродовж 14 днів після відправки товару, за рахунок покупця.
            p Компанія здійснює повернення та обмін товарів належної якості та пакування згідно закону "Про захист прав споживачів '.