.more_info_container.grid.col-2.gray_bg
    div.text_container.flex
        h3 Важливо : окремі категорії продукції, а саме предмети особистої гігієни, рушники, пледи і т. д відповідно до постанови кабінету міністрів 172 від 19.03.94 р. неможна повертати або обмінювати.
        p Тому рекомендуємо уважно вивчити характеристики виробів та звернути увагу на те, що яскравість і насиченість кольорів залежить від освітлення та налаштуваннь монітора комп'ютера чи екрану телефону. 
    div 
        picture 
            img(src="img/info_1.jpg", alt="")
.more_info_container.grid.col-2.gray_bg
    div 
        picture 
            img(src="img/info_2.jpg", alt="")
    div.text_container.flex 
        h3 Окрім того розміри товару, представленого на нашому сайті можуть відрізнятись на 5 - 10 см від тих, що вказані в описі, в залежності від партії, яка надійшла.
        p Для уточнення всіх деталей звертайтесь до наших менеджерів - ми  узгодимо кожну деталь і обов'язково підберем для вас найкращий варіант. Перед відправкою кожна річ перевіряється на можливість фабричних дефектів.