div.perevagi_container
    p.flex.items-center
        span.green_circle
            <svg width="100" height="100" viewBox="0 0 100 100" fill="none" xmlns="http://www.w3.org/2000/svg">
                <circle cx="50" cy="50" r="50" fill="#33C364"/>
                <path d="M70.271 62.7968H37.2675C36.7193 62.7968 36.2534 62.3911 36.1821 61.843L32.0272 30.5167L26.8199 29.1573C26.2334 29.0039 25.8826 28.4064 26.036 27.8199C26.1895 27.2334 26.787 26.8826 27.3735 27.036L33.2934 28.5763C33.7265 28.6914 34.0444 29.0532 34.1047 29.4917L38.2322 60.5987H70.2765C70.8795 60.5987 71.3728 61.0921 71.3728 61.695C71.3728 62.298 70.8795 62.7913 70.2765 62.7913L70.271 62.7968Z" fill="#1E1E1E"/>
                <path d="M51.6397 68.3166C51.6397 70.3502 49.9898 72.0001 47.9562 72.0001C45.9226 72.0001 44.2727 70.3502 44.2727 68.3166C44.2727 66.283 45.9226 64.6331 47.9562 64.6331C49.9898 64.6331 51.6397 66.283 51.6397 68.3166Z" fill="#1E1E1E"/>
                <path d="M63.7536 72.0001C65.788 72.0001 67.4371 70.3509 67.4371 68.3166C67.4371 66.2822 65.788 64.6331 63.7536 64.6331C61.7193 64.6331 60.0701 66.2822 60.0701 68.3166C60.0701 70.3509 61.7193 72.0001 63.7536 72.0001Z" fill="#1E1E1E"/>
                <path d="M62.4984 43.3596H49.6938L49.6829 50.6773H62.482L62.4984 43.3596Z" fill="#1E1E1E"/>
                <path d="M62.471 58.4828L62.4765 52.5739H49.6774L49.6664 58.4828H62.471Z" fill="#1E1E1E"/>
                <path d="M39.6573 50.6773H47.7918L47.8027 43.3596H38.7968L39.6573 50.6773Z" fill="#1E1E1E"/>
                <path d="M64.3895 41.4686H73.5982L74.1464 36.782C74.3108 35.3842 73.1707 34.1619 71.7126 34.1619H64.4004L64.3895 41.4631V41.4686Z" fill="#1E1E1E"/>
                <path d="M38.5775 41.4686H47.8082L47.8192 34.1674H40.4576C38.9941 34.1674 37.8594 35.3897 38.0239 36.7875L38.572 41.4741L38.5775 41.4686Z" fill="#1E1E1E"/>
                <path d="M47.7863 52.5739H39.8821L40.3316 56.3944C40.4686 57.5839 41.521 58.4828 42.7653 58.4828H47.7753L47.7863 52.5739Z" fill="#1E1E1E"/>
                <path d="M64.3731 52.5739L64.3621 58.4828H69.416C70.6657 58.4828 71.7127 57.5839 71.8497 56.3944L72.2992 52.5739H64.3731Z" fill="#1E1E1E"/>
                <path d="M49.7103 34.1674L49.6993 41.4686H62.4984L62.5148 34.1674H49.7103Z" fill="#1E1E1E"/>
                <path d="M73.379 43.3596H64.3895L64.373 50.6773H72.5184L73.379 43.3596Z" fill="#1E1E1E"/>
            </svg>
        | широкий асортимент якісного товару
div.perevagi_container
    p.flex.items-center
        span.green_circle 
            <svg width="100" height="100" viewBox="0 0 100 100" fill="none" xmlns="http://www.w3.org/2000/svg">
                <circle cx="50" cy="50" r="50" fill="#33C364"/>
                <path d="M50.5774 70.7928L63.3554 55.5906C59.2772 54.0262 55.4736 51.799 52.1239 48.9807C48.1352 45.6309 43.5256 43.1052 38.5637 41.5527L29.2012 49.4225C27.6905 50.6944 27.589 52.9872 28.9862 54.3844L45.6155 71.0137C47.0127 72.4109 49.3056 72.3094 50.5774 70.7987V70.7928Z" fill="#1E1E1E"/>
                <path d="M53.7421 47.3627C57.0381 50.1332 60.7759 52.3366 64.7825 53.895L70.849 46.682C71.3506 46.0849 71.6312 45.3326 71.6372 44.5504L71.7148 37.0329C71.7268 36.1253 71.3685 35.2535 70.7296 34.6146L65.3856 29.2705C64.7467 28.6316 63.8749 28.2734 62.9673 28.2853L55.4498 28.3629C54.6676 28.3689 53.9152 28.6496 53.3181 29.1511L40.4028 40.0064C45.2812 41.5648 49.8191 44.0607 53.748 47.3627H53.7421ZM65.1825 34.8116C65.9886 35.6177 65.9886 36.9194 65.1825 37.7255C64.3765 38.5316 63.0748 38.5316 62.2687 37.7255C61.4626 36.9194 61.4626 35.6177 62.2687 34.8116C63.0748 34.0056 64.3765 34.0056 65.1825 34.8116Z" fill="#1E1E1E"/>
                <path d="M64.3047 36.2864C64.1495 36.2864 64.0002 36.2267 63.8808 36.1133C63.6479 35.8804 63.6479 35.5042 63.8808 35.2713L71.9775 27.1747C72.2103 26.9418 72.5865 26.9418 72.8194 27.1747C73.0522 27.4075 73.0522 27.7837 72.8194 28.0166L64.7227 36.1133C64.6033 36.2327 64.454 36.2864 64.2987 36.2864H64.3047Z" fill="#1E1E1E"/>
            </svg>
        | приємні ціни для гуртових замовників
div.perevagi_container
    p.flex.items-center
        span.green_circle 
            <svg width="100" height="100" viewBox="0 0 100 100" fill="none" xmlns="http://www.w3.org/2000/svg">
                <circle cx="50" cy="50" r="50" fill="#33C364"/>
                <path d="M66.8735 29.934H34.1265C29.6386 29.934 26 33.5725 26 38.0605V55.1513C26 59.6393 29.6386 63.2778 34.1265 63.2778H44.1297L48.8012 69.3383C49.5301 70.2852 50.9591 70.3139 51.7224 69.3899L56.767 63.2836H66.8735C71.3614 63.2836 75 59.645 75 55.1571V38.0662C75 33.5783 71.3614 29.9397 66.8735 29.9397V29.934ZM59.826 49.3893L52.0495 56.2819C51.401 56.8558 50.4311 56.8558 49.7884 56.2819L42.0119 49.3893C34.2126 42.4967 43.923 32.3731 50.9247 40.4766C57.0023 31.8623 66.9137 42.5656 59.8374 49.3893H59.826Z" fill="#1E1E1E"/>
            </svg>
        | великий досвід роботи
div.perevagi_container
    p.flex.items-center
        span.green_circle 
            <svg width="100" height="100" viewBox="0 0 100 100" fill="none" xmlns="http://www.w3.org/2000/svg">
                <circle cx="50" cy="50" r="50" fill="#33C364"/>
                <path d="M64.943 38.203H59.2444C58.1705 38.203 57.2965 37.329 57.2965 36.2552V30.5565C57.2965 30.2508 57.5434 30 57.853 30C58.1627 30 58.4096 30.2469 58.4096 30.5565V36.2552C58.4096 36.7137 58.7858 37.09 59.2444 37.09H64.943C65.2487 37.09 65.4995 37.3369 65.4995 37.6465C65.4995 37.9561 65.2526 38.203 64.943 38.203Z" fill="#1E1E1E"/>
                <path d="M59.8406 36.2903H64.7397L59.1782 30.7289V35.628C59.1782 35.9925 59.4761 36.2903 59.8406 36.2903Z" fill="#1E1E1E"/>
                <path d="M59.8403 37.8581C58.6097 37.8581 57.6103 36.8587 57.6103 35.6281V30.192H36.3913C35.6232 30.192 35 30.8152 35 31.5834V68.6087C35 69.3769 35.6232 70.0001 36.3913 70.0001H63.9242C64.6924 70.0001 65.3156 69.3769 65.3156 68.6087V37.862H59.8403V37.8581ZM38.6136 35.3067H55.0236C55.3489 35.3067 55.6114 35.5693 55.6114 35.8946C55.6114 36.2199 55.3489 36.4824 55.0236 36.4824H38.6136C38.2883 36.4824 38.0257 36.2199 38.0257 35.8946C38.0257 35.5693 38.2883 35.3067 38.6136 35.3067ZM61.702 63.0238H38.6175C38.2922 63.0238 38.0296 62.7612 38.0296 62.4359C38.0296 62.1106 38.2922 61.848 38.6175 61.848H61.702C62.0273 61.848 62.2899 62.1106 62.2899 62.4359C62.2899 62.7612 62.0273 63.0238 61.702 63.0238ZM61.702 58.6028H38.6175C38.2922 58.6028 38.0296 58.3402 38.0296 58.0149C38.0296 57.6896 38.2922 57.427 38.6175 57.427H61.702C62.0273 57.427 62.2899 57.6896 62.2899 58.0149C62.2899 58.3402 62.0273 58.6028 61.702 58.6028ZM61.702 54.178H38.6175C38.2922 54.178 38.0296 53.9154 38.0296 53.5901C38.0296 53.2648 38.2922 53.0022 38.6175 53.0022H61.702C62.0273 53.0022 62.2899 53.2648 62.2899 53.5901C62.2899 53.9154 62.0273 54.178 61.702 54.178ZM61.702 49.7531H38.6175C38.2922 49.7531 38.0296 49.4905 38.0296 49.1652C38.0296 48.8399 38.2922 48.5773 38.6175 48.5773H61.702C62.0273 48.5773 62.2899 48.8399 62.2899 49.1652C62.2899 49.4905 62.0273 49.7531 61.702 49.7531ZM61.702 45.3322H38.6175C38.2922 45.3322 38.0296 45.0696 38.0296 44.7443C38.0296 44.419 38.2922 44.1564 38.6175 44.1564H61.702C62.0273 44.1564 62.2899 44.419 62.2899 44.7443C62.2899 45.0696 62.0273 45.3322 61.702 45.3322ZM61.702 40.9073H38.6175C38.2922 40.9073 38.0296 40.6447 38.0296 40.3194C38.0296 39.9941 38.2922 39.7315 38.6175 39.7315H61.702C62.0273 39.7315 62.2899 39.9941 62.2899 40.3194C62.2899 40.6447 62.0273 40.9073 61.702 40.9073Z" fill="#1E1E1E"/>
            </svg>
        | працюємо офіційно
