.privacy_container.wrapper.container
    .cancel_popup
        a(href="#")
            <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" viewBox="0 0 22 22" fill="none">
                <path d="M1 21L20.5816 1M21 21L1.41844 1" stroke="#121212" stroke-width="2" stroke-linecap="round"/>
            </svg> 
    h2 Політика конфіденційності
    p.head_info Персональні дані Покупця збираються та обробляються відповідно до Закону України «Про захист персональних даних» від 01 червня 2010 № 2297-VI.
    div
        p Покупець, проходячи процедуру реєстрації на Сайті та/або заповнюючи форму «оформити замовлення» на сайті Інтернет магазину «MBM» надає свою повну безумовну та безстрокову згоду на збирання, обробку та використання Продавцем інформації про Покупця, в тому числі інформації, що відповідно до чинного законодавства України вважається персональними даними, виключно в наступних цілях:
    ul.mark
        li з метою реєстрації та ідентифікації Покупця в Інтернет-магазині;
        li з метою поновлення пароля реєстрації Покупця в Інтернет-магазині;
        li в маркетингових цілях, а саме: повідомлення Покупця за допомогою SMS, електронної пошти, соціальних мереж тощо про новини Інтернет-магазину, Акційні пропозиції та Розпродажі товарів, що проводяться Продавцем в Інтернет-магазині, здійснення Продавцем аналізу ринку споживання Товару, визначення кола потенційних Покупців, визначення потреб потенційних Покупців у товарах, що пропонуються до продажу тощо;
        li з метою сумлінного виконання Продавцем своїх договірних зобов’язань перед Покупцем, в тому числі зобов’язань щодо доставки Товару, а також зобов’язань щодо перерахування Покупцю коштів за повернутий Товар;
        li з метою оцінки та аналізу роботи Сайту;
        li з метою виконання Продавцем вимог чинного законодавства України, в тому числі законодавства про захист прав споживачів.

    div 
        p Надана Покупцем інформація використовується при обробці Замовлення, а також для надання Покупцю комерційних пропозицій Продавця.
        p Для того, щоб забезпечити Покупця інформацією щодо Товару, розміщеного на сайті Інтернет-магазину, Продавець має право відправляти інформаційні, в тому числі рекламні повідомлення, на електронну пошту і мобільний телефон Покупця з його згоди. Покупець має право відмовитися від отримання рекламної та іншої інформації без пояснення причин відмови. Сервісні повідомлення, що інформують Покупця про замовлення та етапи його обробки, відправляються автоматично і не можуть бути відхилені Покупцем.
    div 
        p Продавець не несе відповідальності за відомості, надані Покупцем на Сайті в загальнодоступній формі.
        p Продавець має право здійснювати записи телефонних розмов з Покупцем, про що Продавець повідомляє Покупця. При цьому Продавець зобов’язується: запобігати спробам несанкціонованого доступу до інформації, отриманої в ході телефонних переговорів, і / або передачу її третім особам, які не мають безпосереднього відношення до виконання Замовлень, відповідно до Закону України «Про інформацію» від 02.10.1992 року № 2657-XII.
        p Будь-яка інформація, отримана від Покупця, є конфіденційною, та не розкривається третім особам, за винятком випадків, передбачених чинним законодавством України.
    div 
        p При оплаті замовлень на сайті Інтернет-магазину «MBM», за допомогою платіжних карт всі операції з ними здійснюються на захищеній платіжній сторінці банку, на якій потрібно ввести дані платіжної картки. Після успішної транзакції (успішної оплати замовлення платіжною карткою на платіжній сторінці банку) відвідувач сайту автоматично переадресовується на сторінку замовлення «MBM», де вказано номер сформованого замовлення.
        