.successPopup#successPopup
    .cancel_popup
        a(href="#")
            <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" viewBox="0 0 22 22" fill="none">
                <path d="M1 21L20.5816 1M21 21L1.41844 1" stroke="#121212" stroke-width="2" stroke-linecap="round"/>
            </svg> 
    div 
        a(href="index.html")
            img(src="img/logo.png", alt="") 
    h2 дякуємо за замовлення!
    p Ваше замовлення прийняте, і ми працюємо над його обробкою.
    .cta_conatiner.black_cta_popup
        a.cta.catalog_cta(href="") на головну