.data
    div
        min-width: 50%
        margin-bottom: 10px
    +media(768)
        display: flex
        gap: 10px
        justify-content: space-between
.phone
    position: relative
    padding-top: 10px

.error_cart
    flex-direction: column
    justify-content: center
.cart_popup,
.order_container,
.popup_img
    position: fixed
    top: 50%
    left: 48%
    display: none
    padding: 30rem
    width: 80vw
    background-color: $white
    border-radius: 20px
    transform: translate(-50%, -50%)
    z-index: 7
    .quantity-controls
        button
            background-color: #f3f3f3
    .cart_cta
        margin: 0 auto
        justify-content: center
        +media(580)
            flex-wrap: nowrap
        button
            border: none
        .cta 
            width: 100%
            padding: 19px 0
            min-width: 300rem
        .transparent_cta
            color: #121212
    +media(1024)
        width: 70vw
        max-width: 750px

.popup_img
    width: 85%
    img
        border-radius: 20px
        max-height: 500px

.cancel_cart,
.cancel_order,
.cancel_img
    position: absolute
    top: 0
    right: -35px
    svg
        path
            transform: translate(28%, 28%)
.section_cart
    max-height: 50vh
    overflow-x: auto 
    overflow-y: scroll
    padding: 0 10rem 0 0 
    &::-webkit-scrollbar 
        width: 5rem
        height: 100%
        border-radius: 3rem
        background-color: #ccc

    &::-webkit-scrollbar-thumb 
        border-radius: 3rem
        background-color: #696767
.cart-container
    position: relative
    grid-template-columns: 1fr 1fr
    padding: 15px 20px
    margin-bottom: 10rem
    border-radius: 10px
    background: #F3F3F3
    +media(768)
        grid-template-columns: 1fr 2fr 1fr 1fr
    img
        // max-width: 25%
        width: 99px
        min-height: 120px
        border-radius: 10px 
    h4
        font-size: 20rem
        padding-bottom: 10rem
    p
        padding-bottom: 0
.cart_cta
    flex-wrap: wrap
.cart-details
    p
        font-size: 16rem
        font-weight: 600
    span
        font-size: 11px
        font-weight: 500
        font-style: italic
.delete_cta
    position: absolute
    top: 10px
    right: 10px

.cart-total
    padding: 20px 0
    text-align: right
    font-size: 24rem
    font-weight: 600
    span
        color: #33C364

.cart_message_sum 
    padding-bottom: 10px
    color: #8a8989
