footer
    padding: 35px 0
    font-weight: 500
    .flex
        gap: 10px
    img
        border-radius: 10px

.social_container 
    a
        color: $black
        margin-bottom: 10rem

.copy
    span
        color: #33C364